.vertical-center {
    height: 100%;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background: rgba(0,0,0,.1);
    padding: 0;
    margin: 0;
}


/* Mobile first queries */
.wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.heading{
    background: #067aed;
}

.heading.main-heading{
    margin-bottom: 20px;
}

.drop-shaddow{
    /* box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4); */
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}

.heading .container{
    display: flex;
    align-items: center;

    height:38px; /* Matching height of inputs */
    position: relative;
}

.heading .inner{
    display: flex;
    align-items: center;

    height:38px; /* Matching height of inputs */
    position: relative;
}

.main-heading .container.main{
    height:auto !important; /* double height of inputs */
    padding-top: 10px;
}

.main-heading .container.sub{
    height:auto !important; 
    color:#E0E0E0;
    padding-bottom: 5px;
}

.main-heading .container.sub .description{
    margin-left: 70px;
}

.heading .icon{
    position: absolute;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
    height:38px;
    width:38px;
    top: 0;
    right: 0;
    z-index: 2;
}

.main-heading .icon{
    height:76px !important;
}

.section-heading{
    background: none !important;
}
.section-heading h6{
    color: #067aed;
}


.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px; 
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right:10px;
}

.back-button h6{
    color: #D1D1D1;
    display: flex;
    align-items: center;

    height:24px;
    position: relative;
}

.back-button a{
    height:24px;
    width:24px;
}

a {
    cursor:pointer;
}

.back-button .icon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height:24px;
    width:24px;
    top: 0;
    left: -19px;
}

p,h4,h5,h6{
    margin:0;
    color: white;
}

input{
    /* margin-bottom: 5px; */
    margin-bottom: 0;
}

.three.columns {
    width: 25% !important;
}
.six.columns {
    width: 50% !important;
}
.nine.columns {
    width: 75% !important;
}
.columns:first-child {
    margin-left: 0 !important;
}
.columns {
    margin-left: 0 !important;
}

.hidden{
    display: none;
}

.no-top-border {
    position: relative;
}

.no-top-border input[type=text]{
    border-top: 0;
}

.no-top-border::before{
    background-color: #D1D1D1;
    height:1px;
    width: 100%;
    left: 0;
    top: -1px;
    position: absolute;
    content: '';
    display: none;
}

.invalid.no-top-border::before {
    background-color: #F44336;
    display: block;
}

.focused.no-top-border::before {
    background-color: #212121;
    display: block;
}

.focused.invalid.no-top-border::before {
    background-color: #FFCDD2;
    display: block;
}

.no-right-border input[type=text]{
    border-right: 0;
}

.no-right-border {
    position: relative;
}

.no-right-border::after {
    background-color: #D1D1D1;
    width:1px;
    height: 100%;
    left: 100%;
    top: 0;
    position: absolute;
    content: '';
    display: none;
    z-index: 2;
}

.invalid.no-right-border::after {
    background-color: #F44336;
}

.focused.no-right-border::after {
    background-color: #212121;
    display: block;
}

.focused.invalid.no-right-border::after {
    background-color: #FFCDD2;
    display: block;
}



input{
    border-radius: 0 !important;
}

input[type=text]:focus {
    border-color: #212121;
}

input[type=text]::after:focus {
    background-color: #212121;
}

button{
    border-radius: 0 !important;
    margin-top: 20px;
    width:100%;
}

label{
    margin-bottom: 0;
}

 button img{
    vertical-align:middle;
 }


.beanstream_invalid{
    border-color: inherit !important;
}

.invalid input[type=text]{
    border-color: #F44336 !important;
}

.invalid input[type=text]:focus {
    border-color: #FFCDD2 !important;
}

.error{
    color: #B71C1C;
    background-color: #FFEBEE;
    border-color: #B71C1C;
    padding: 10px;
    margin-top: 10px;
}

.error ul{
    margin-bottom: 0;
}

.error ul li{
    margin-bottom: 0;
    list-style-type: none;
    position: relative;
    padding-left:30px;
}

.error li::before { 
    content: "";
    background: transparent url('../images/ic_error_outline_red_24px.svg') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    height:24px;
    width:24px;
}

.footer{
    /* background: #9E9E9E; For browsers that do not support gradients 
    background: linear-gradient(#9E9E9E 0%, #424242 100%); */
    /* background: #067aed; */
    background: #212121; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer img{
    height: 30px;
    vertical-align: middle;
    padding-bottom:6px;
}

.footer span{
    margin-right:4px;
}

.footer a{
    color:#E0E0E0;
}

button.button{
    border-color: #067aed;
    color: #067aed;
    position: relative;
    overflow: hidden;
    transition-duration: 0.4s;
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
button.button:hover{
    border-color: #067aed;
    color: #fff;
    background-color: #067aed;
}

button.button:focus {
    border-color: #067aed;
    color: #067aed;
    background-color: #fff;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(33,150,243,.075),0 0 8px rgba(33,150,243,.6);
}

button.button:active {
  background-color: #067aed;
  color: #fff;
}



button.button:after {
    content: "";
    background: #E3F2FD;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.button .label-outter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .label-inner{
    position: relative;
    height:auto;
}

.button .label-inner:after { 
    content: '';
    background: transparent url('../images/arrow_right_blue_24px.svg') no-repeat center;
    position: absolute;
    height: 38px;
    width: 24px;
    left: 100%;
    top: 0;
}

.button:active .label-inner:after{ 
    background: transparent url('../images/arrow_right_white_24px.svg') no-repeat center;
}
.button:hover .label-inner:after { 
    background: transparent url('../images/arrow_right_white_24px.svg') no-repeat center;
}

a{
    text-decoration: none;
}

.checkbox{
    display: flex;
    margin-top: 10px;
}

input[type=checkbox]{
    margin-top: 6px;
}

.row.email{
    margin-top: 20px;
    margin-bottom: 15px;
}

.currency{
    font-size: .75em;
}

/* Larger than mobile */
@media (min-width: 400px) {

}