.vertical-center {
    min-height: 100%; 
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{

}

body{
    background: rgba(0,0,0,.1);
    padding: 0;
    margin: 0;
}


/* Mobile first queries */
.wrapper {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: white;
}

.heading{
    background-color: #D1D1D1;
    margin-bottom: 10px;
}

.heading .container{
    display: flex;
    align-items: center;

    height:38px; /* Matching height of inputs */
    position: relative;
}

.main-heading .container{
    height:76px !important; /* double height of inputs */
}

.heading .icon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height:38px;
    width:38px;
    top: 0;
    left: 0;
}

.main-heading .icon{
    height:76px !important;
}


.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px; 
    background-color: white;
    margin-right:10px;
}

p,h4,h5,h6{
    margin:0;
    color: white;
}

input{
    margin-bottom: 5px;
}

.three.columns {
    width: 23% !important;
}
.six.columns {
    width: 49% !important;
}
.nine.columns {
    width: 75% !important;
}
.columns:first-child {
    margin-left: 0 !important;
}
.columns {
    margin-left: 2% !important;
}


button{
    margin-top: 10px;
    width:100%;
}


/* Larger than mobile */
@media (min-width: 400px) {

}