label[data-beanstream-id]{
    margin-top: 10px;
    display: block;
}

input[data-beanstream-id]{
    display: block;
}

[data-beanstream-id="ccNumber"] {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    background-image: url("https://downloads.beanstream.com/images/payform/card.png");
}

[data-beanstream-id="ccCvv"] {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    background-image: url("https://downloads.beanstream.com/images/payform/cvc_lock_outline.png");
}

[data-beanstream-id="ccCvv"]:focus {
    background-image: url("https://downloads.beanstream.com/images/payform/cvc_hint_color.png");
}

[data-beanstream-id="ccCvv"].amex:focus {
    background-image: url("https://downloads.beanstream.com/images/payform/cvc_hint_color_amex.png");
}

[data-beanstream-id="ccExp"] {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    background-image: url("https://downloads.beanstream.com/images/payform/date.png");
}

input[type=text].beanstream_invalid{
	border-color: #F44336;
}
