label{display:block;}
input{display:block;}

[data-beanstream-id="cc_number"] {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}

[data-beanstream-id="cc_cvv"] {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    background-image: url("./images/cvc_hint.png");
}

.beanstream_invalid{
	border-color: #e9322d !important;
}
