label[data-beanstream-id]{
    margin-top: 10px;
    display: block;
}

input[data-beanstream-id]{
    display: block;
}

[data-beanstream-id="cc_number"] {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}

[data-beanstream-id="cc_cvv"] {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    background-image: url("http://downloads.beanstream.com/images/payform/cvc_hint.png");
}

.beanstream_invalid{
	border-color: #e9322d !important;
}
